<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <link rel="icon" href="/favicon.ico"/>
    <script th:replace="fragments/header :: newrelic-browser"></script>
    <title>OntoDia - OWL Diagramming toolkit</title>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <!--<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Custom styles for this site-->
    <link href="css/site.css" rel="stylesheet"/>
</head>
<body>
<!-- Menu -->

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel">Set password for account</h4>
        </div>
        <div class="modal-body">
            <form id="setPasswordForm" class="form-horizontal"
                  th:action="@{/setPassword}" method="post" onsubmit="return checkPassword();">
                <fieldset>
                    <div class="form-group">
                        <label for="newPassword" class="col-lg-2 control-label">Password</label>
                        <div class="col-lg-10">
                            <input type="password" class="form-control" id="newPassword" name="newPassword" placeholder="NewPassword"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="confirm-password" class="col-lg-2 control-label"></label>
                        <div class="col-lg-10">
                            <input type="password" class="form-control" id="confirm-password" placeholder="Confirm password"/>
                        </div>
                    </div>
                </fieldset>
                <div id="passwordsNotMatch" class="alert alert-danger" role="alert" style="display: none">
                    Specified passwords do not match.
                </div>
                <!-- HACK to submit by pressing enter -->
                <input type="submit" tabindex="-1" style="position: absolute; left: -9999px; width: 1px; height: 1px;"/>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" onclick="$('#setPasswordForm').submit()">Set password</button>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="js/jquery/jquery-2.1.3.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<!-- Latest compiled and minified JavaScript -->
<script>
    function checkPassword() {
        var $password = $("#newPassword");
        var $confirmation = $("#confirm-password");
        if ($password.val() == $confirmation.val()) {
            return true;
        } else {
            $("#passwordsNotMatch").show();
            return false;
        }
    }
</script>
</body>
</html>
